body{
    background-color: #F4F4F4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
 }
 .cont{
     background-color: #E9E9E9;
     margin: auto;
     width: 37.5rem;
     box-shadow: 2px 4px 10px 3px rgba(0, 0, 0, 0.21);
     border-radius: 4px;
     overflow: hidden;
 }
 
 .hearder{
     margin: auto;
     padding: 1.8rem;
 }
 .display-colum{
     display: flex;
     justify-content: space-around;
 }
 .header-title{
     color: #016A67;
     font-size: 2.1rem;
     font-weight: 700;
     margin-bottom: 15px;
 }
 .header-sub-title{
     color: #52958F;
     font-weight: 500;
     font-size: 1.25rem;
     margin-bottom: 15px;
 }
 .button{
     border-radius: 4px;
     width: 100%;
     padding: 15px 25px;
     background-color: #CCCCCC;
     color: #017575;
     font-size: 0.9rem;
     font-weight: 500;
     overflow: hidden;
     margin-top: 20px;
     border: none;
     cursor: pointer;
 }
 .button:hover{
     background-color: #F0F0E8;
 }
 .first-colum{
     background-color: #016C6C;
     width: 50%;
     padding: 20px;
 }
 .second-colum{
     background-color: #00908F;
     width: 50%;
     padding: 4px 20px;
     color: #F0F0E8;
 }
 .colorsubtitle{
     color: #F0F0E8;
     
 }
 .sub-title-colum{
     margin-bottom: 15px;
     font-size: 1.1rem;
     text-align: center;
     font-weight: 400;
 }
 .value-subtitle{
     font-size: 1.8rem;
     font-weight: 700;
 }
 .month{
     margin-left: 15px;
 }
 .topics{
     color: #F0F0E8;
 }
 .icon{
     text-align: center;
 }
 @media screen and (max-width:600px){
     html{
         font-size: 10px;
     }
     .display-colum{
         flex-direction: column;
     }
     .first-colum, .second-colum{
         width: 100%;
         box-sizing: border-box;
     }
     .cont{
         width: 95%;
     }
 }